.text-zone{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
}
.paragraph-text{
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 21px;
    font-family: sans-serif;
    letter-spacing: 3px;
}
h1{
    color: rgb(238, 252, 45) !important;
    font-size: 53px !important;
    margin: 0 !important;
    font-family: 'Press Start 2P', cursive;
    font-weight: 400 !important;
    animation: fadeIn 1s 2.3s backwards !important;
}

h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.7s backwards;
}
.flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 2.0s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
}

.logo-container {
    z-index: 0;
    width: 600px;
    height: 600px;
    position: absolute;
    top: 0;
    right: 10%;
    bottom: 0;
    left: auto;
    margin: auto;
    .svg{
        width: 100%;
        height: auto;
        animation: fadeIn 1s 1.7s backwards;
    }
}
